.body, html {
    background-color: #1652f0;
}

.contain {
    margin: 0 auto;
    max-width: 500px;
    height: 900px;
    color: white;
    background-color: rgb(28, 27, 27);
    border: 1px solid white;
}

.circle {
    color: black;
    border-radius: 50%;
    background-color: #1652f0;
    height: 30px;
    width: 30px;
}

.icon {
    height: 40px;
    width: 40px;
}

.icon2 {
    height: 20px;
    width: 20px;
}

.icon3 {
    height: 30px;
    width: 30px;
}

.blue {
    color: #1652f0;
}

.gray {
    color: gray;
}

.main {
    font-size: 4rem;
}

.continue {
    border-radius: 30px;
    background-color: #1652f0;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.new {
    border-radius: 30px;
    background-color: #1652f0;
    color: black;
    font-size: 1.2rem;
    border: none;
}

.already {
    border-radius: 30px;
    background-color: #3a3a3b;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.logout {
    border-radius: 30px;
    background-color: rgb(28, 27, 27);
    color: red;
    font-size: 1.2rem;
    border: none;
}

.logout-link {
    color: red;
    text-decoration: none;
}

.link {
    color: black;
    text-decoration: none;
}

.link2 {
    color: white;
    text-decoration: none;
}


a:hover {
    color: black;
}

.subtext {
    color:#6c6c6c;
}

